.nav {
   background-color: rgb(141, 224, 15);
    padding: 5px;
    height: 60px;
    display: flex;
    margin: 0%; 
    width: 100%;

}

.brand {
    font-size: 45px;
    margin-top: -1px;
    font-weight: bold;
    margin-left: 70px;

    margin-bottom: auto;
}

.menu-text {
    margin-left: 500px;
    margin-top: 20px;
}
.menu{
  
   margin-left: 50px;
 text-decoration: none;

}

.events {
    display: flex;
    justify-content: center;
    margin: 20px;
   
}

.list-items {
    margin: 20px;
    font-size: 20px;
}

.hr {
    margin-left: 50px;
    margin-right: 50px;
    padding: 0.5px;
    background-color: red;
}